<!doctype html>
<div class="footer-container">
  <div>
    <div class="footer-heading">Kosinappia</div>
    <p class="footer-text">
      Kosinappia is a web application designed primarily to convert units
      commonly used in food preparation while also providing nutritional
      information about ingredients.
    </p>
  </div>
  <div class="date">
    <h3 class="footer-heading">WDD231 Class Project</h3>
    <p class="footer-text">Ronald Diaz Zerpa</p>
    <p class="footer-text">
      &copy; <span id="currentYear"></span> - Kosinappia
    </p>
    <p class="footer-text">
      Last Modification: <span id="lastModified"></span>
    </p>
  </div>
</div>
