<!doctype html>
<div class="header-container">
  <a href="/" aria-label="Kosinappia Home">
    <img class="logo" src="/images/kosinappia-logo.svg" alt="Kosinappia logo" />
  </a>
  <button
    type="button"
    class="menu-button"
    id="menuBtn"
    aria-label="Main menu"
    aria-expanded="false"
  ></button>
  <nav id="mainNav" class="site-nav" aria-label="Primary Navigation">
    <ul class="nav-links-container">
      <li class="current"><a href="/" class="nav-link">Converter</a></li>
      <li><a href="/cookbook/" class="nav-link">Cookbook</a></li>
      <li><a href="/request/" class="nav-link">Request & FAQ</a></li>
    </ul>
  </nav>
</div>
